

.sad-affleck a{
    text-decoration: none;
    color: black;
}

.alias-photo{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parent-photo{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.affleck-photo{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sibling-photo{
    width: 40%;
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.personal-h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.personal-h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.personal-ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.personal-p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    display: block;
}
.extras-row {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

.extras-column1{
    display:flex;
    flex-direction:column;
}
.extras-column2{
    display:flex;
    flex-direction:column;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: -0.5rem;
    list-style-type: none;
}

ul a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    list-style-type: none;
}

ul li{
    list-style-type: none;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
}

.career_H2.ul a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.navbar-jen{
    background-image: linear-gradient(black, gray);
    box-shadow: 0 0.3em 0.3em 0;
    background-color: black;
    max-width: 100%;
}

/* div & shadow */
.news-div {
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    display: block;
    margin: auto;
}

.news-image {
    width: 75%;
    height: 75%;
    object-fit: scale-down;
}

.article-title {
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.news-title {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.news-post-content {
    padding: 2rem;
    border-bottom: 1px solid black;
}

.Career-H2{
    font-style:italic;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Career-Intro > p{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:2.5em;
}

.Career-column {
    float: left;
    width: 50%;
}
  
  /* Clear floats after the columns */
.Career-row:after {
    content: "";
    display: table;
    clear: both;
}

.Career-Img{
    display:block;
    width: 60%;
    height: 60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.5em;
}

footer{
    text-align: center;
}

.photo img{
        display: block;
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
}

.alias h2{
    text-align:   center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.collab{
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.collab ul{
    list-style-type: none;
}

.location h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.location img{
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.family-dates{
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    list-style-type: none;
}

/* extras uppercase */

h1, h2 {
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-jen ul a {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    padding-left: -3rem;
    padding-right: 3rem;
    margin-left: -4rem;
    margin-right: 1rem;
    margin-top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    line-height: 1rem;
    vertical-align: middle;

footer{
    display: flex;
    align-content: center;
    justify-content: center;
}

footer a{
    padding: 2em;
}
